@import "tailwindcss";


/* From Uiverse.io by HarryHeywood04 */ 
/* .container {
  width: 100%;
  height: 100%;
  background-color: #111111;
  background-image: linear-gradient(
    32deg,
    rgba(8, 8, 8, 0.74) 30px,
    transparent
  );
  background-size: 60px 60px;
  background-position: -5px -5px;
} */


/*  */

.cube {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate 4s linear infinite;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  border: 0.5px solid #fff;
}

.face:nth-child(1) {
  transform: rotateX(90deg) translateZ(100px);
}

.face:nth-child(2) {
  transform: rotateX(-90deg) translateZ(100px);
}

.face:nth-child(3) {
  transform: translateZ(100px);
}

.face:nth-child(4) {
  transform: rotateY(90deg) translateZ(100px);
}

.face:nth-child(5) {
  transform: rotateY(-90deg) translateZ(100px);
}

.face:nth-child(6) {
  transform: rotateY(180deg) translateZ(100px);
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}


@keyframes rotate-synced {
  0% {
      transform: rotate(0deg);
  }
  25% {
      transform: rotate(90deg);
  }
  50% {
      transform: rotate(180deg);
  }
  75% {
      transform: rotate(270deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.animate-rotate-synced {
  animation: rotate-synced 4s infinite linear;
}



.container {
  width: 310px;
  height: 70px;
  /* background-color: #16a085; */
}

.content {
  display: block;
  position: sticky;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: #ecf0f1;
}

.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
}
/* 
.content__container:before {
  content: '[';
  left: 0;
} */

/* .content__container:after {
  content: ']';
  position: absolute;
  right: 0;
} */

.content__container:after, .content__container:before {
  position: absolute;
  top: -2px;
  color: #16a085;
  font-size: 42px;
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}

.content__container__list {
  margin-top: 0;
  padding-left: 110px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.content__container__list__item {
  line-height: 40px;
  margin: 0;
}

@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }

  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }

  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }

  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }

  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }

  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
 


.containers {
  /* width: 100%; */
  /* height: 100%; */
  /* Add your background pattern here */
  --s: 90px; /* change size */
  --c-half-left: hsl(10, 50%, 50%); /* has( color-value, shadow, brightness ) */
  --c-half-right: hsl(40, 50%, 80%);
  --c-bottom: hsl(180, 50%, 50%);

  background: conic-gradient(
    var(--c-half-left) 0deg,
    var(--c-half-left) 120deg,
    var(--c-bottom) 120deg,
    var(--c-bottom) 240deg,
    var(--c-half-right) 240deg
  );
  background-size: var(--s);
}
